body {
  background-image: url("img/usc.players.jpg");
  background-size: cover;
  font-family: sans-serif;
}

h1 {
  color: #73000a;
  padding: 10px;
  font-size: 50px;
  text-align: center;
}

.boxed {
  background-color: #ffffff;
  border: 5px solid #000000;
  padding: 10px; 
}

table {
  border-collapse: collapse;
}

caption {
  background-color: #000000;
   color: #ffffff;
   font-size: 32px;
   font-weight: bold;
   padding: 25px;
}

tr.home {
  color: #73000a;
  background-color: #000000
}
table, th, td {
   margin-left: auto;
   margin-right: auto;
   border: 1px solid #ffffff;
}

th, td {
    padding: 10px;
    text-align: center;
}

table,th,td
{
  border:2px solid #ffffff;
}
table
{
  width:50%;
}
td
{
  padding: 7px;
}
tr
{
  background-color: #73000A;
  color: #000000;
}
th
{
  background-color: #000000;
  color: #ffffff;
  padding: 4px;
}

@media (max-width: 600px) {
  table {
    width: 100%;
  }

  thead {
    display: none;
  }

  tr {
    border: 1px solid #aaaaaa;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
  }

  td {
    display: block;
    text-align: right;
  }

  td:before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
  }
}
